ARABIC_SPMRL
BASQUE_SPMRL
FRENCH_SPMRL
GERMAN_SPMRL
HEBREW_SPMRL
HUNGARIAN_SPMRL
KOREAN_SPMRL
POLISH_SPMRL
SWEDISH_SPMRL
ARABIC_SPMRL.tar.gz
BASQUE_SPMRL.tar.gz
FRENCH_SPMRL.tar.gz
GERMAN_SPMRL.tar.gz
HEBREW_SPMRL.tar.gz
HUNGARIAN_SPMRL.tar.gz
KOREAN_SPMRL.tar.gz
POLISH_SPMRL.tar.gz
SWEDISH_SPMRL.tar.gz
atb1_v4_1_LDC2010T13.tgz
atb1_v4_1
atb_2_3.1_LDC2011T09.tgz
atb_2_3.1
atb3_v3_2_LDC2010T08.tgz
atb3_v3_2
ctb5.1_507K
ctb5.1_LDC2005T01.tgz
eng_news_txt_tbnk-ptb_revised_LDC2015T13.tgz
eng_news_txt_tbnk-ptb_revised
treebank_3_LDC99T42.tgz
treebank_3
