ARABIC_SPMRL
BASQUE_SPMRL
FRENCH_SPMRL
GERMAN_SPMRL
HEBREW_SPMRL
HUNGARIAN_SPMRL
KOREAN_SPMRL
POLISH_SPMRL
SWEDISH_SPMRL
eng_news_txt_tbnk-ptb_revised_LDC2015T13.tgz
eng_news_txt_tbnk-ptb_revised
treebank_3_LDC99T42.tgz
treebank_3
